* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #004D98;
    display: grid;
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: cursive;

}

img {
    max-width: 100%;
    height: auto;
}

.main-grid {
    max-width: 100vh;
    height: 100vh;
    font-size: 1.8em;
    font-weight: bolder;
    display: grid;
    grid-template-rows: 1fr 3fr;
    gap: 0.5em;
    justify-content: center;
    align-content: space-between;
}

header {
    display: grid;
    grid-template-rows: 2fr 1fr;
}


.main-grid img {
    height: 70px;
    width: 80px;
    border-radius: 30%;
}

#content {
    height: 90%;
    width: 100%;
    background-color: black;
    border-radius: 3%;
    font-size: 0.8em;
    opacity: 0.8;
    color: white;
    padding: 1.5em;

    display: grid;
    grid-template-rows: 1fr 4fr;
    

}

.info-block {
    font-size: 0.8em;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    gap: 0.4em;

}

button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 0.5em;
    cursor: pointer;
    font-family: cursive;
}

ul {
  list-style-type: none; 
}